<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <div class="container">
        <h1 class="header">Welcome to my website!</h1>
        <div class="links">
            <a class="link" href="http://{{ip}}:{{port}}/login">Login</a>
            <a class="link" href="http://{{ip}}:{{port}}/register">Register</a>
        </div>
    </div>
</body>
</html>