<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Login</h1>    
    <form action="/login" method="POST">
        <input type="text" placeholder="Enter username" name ="user_name"/>
        <input type="text" placeholder="Enter password" name = "password"/>
        <input type="submit" value="Submit"/>
    </form>
    <a href="http://192.168.1.218:8080/register">Don't have an account? Register!</a></br>
</body>
</html>