<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Register!</h1>
    <form action="/register" method="POST">
        <input type="text" placeholder="Enter username" name ="user_name"/>
        <input type="text" placeholder="Enter password" name = "password"/>
        <p><input type="submit" value="Submit" /></p>
    </form>
    <a href="http://127.0.0.1:50000/login">Have an account? Login!</a></br>
</body>
</html>